<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526893383781-o2d94i8jftbvaf3b3dou22sdtj9n1lgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526893383781-o2d94i8jftbvaf3b3dou22sdtj9n1lgl</string>
	<key>API_KEY</key>
	<string>AIzaSyB3cvTpqQbRLViqCgon2QgWRksaS19AEO4</string>
	<key>GCM_SENDER_ID</key>
	<string>526893383781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>project-65f35</string>
	<key>STORAGE_BUCKET</key>
	<string>project-65f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526893383781:ios:93615aa8fc9bd0f41a468c</string>
</dict>
</plist>